*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 4em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-cliente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.cliente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

.section2 {
	margin-top: 50px;
}

@media screen and (max-device-width: 768px) {
	.container {
		width: 90%;
	}

	header {
		height: 12em;
		margin-bottom: 1em;
		text-align: center;
	}
	
	header h1 {
		font-size: 3.5em;
	}
	header h2 {
		font-size: 2em;
	}
	
	section h2 {
		font-size: 4em;
		padding-bottom: .5em;
		border-bottom: 3px solid #ccc;
		margin-top: .8em;
		margin-bottom: 1em;
	}

	.label-filtra {
		font-size: 3em;
	}

	#filtrar-tabela {
		font-size: 2.5em;
		width: 50vw;
		height: 70px;
		margin-bottom: 50px;
		margin-left: 1px;
		text-align: center;
	}

	table {
		width: 100%;
		margin-bottom : .5em;
		table-layout: fixed;
	}

	td, th {
		font-size: 2.5em;
		padding: .7em;
		margin: 0;
		border: 3px solid #ccc;
		text-align: center;
	}
	
	th {
		font-weight: bold;
	}

	.grupo {
		width: 100%;
		padding: 10px 0px;
	}

	.campo {
		margin: 0;
		padding-bottom: 1em;
		border: 3px solid #ccc;
		padding: .7em;
		width: 100%;
		height: 50px;
		height: 70px;
		text-align: center;
		font-size: 2.5em;
	}

	.label-grupo {
		font-size: 3em;
	}

	button{
		padding: 5px 0;
		font-size: 3em;
		margin: 0;
		margin-top: -3px;
		width: 100%;
		height: 80px;
		margin: 10px 0px;
	}
}